validation-service/src/main/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="transaction" type="transactionType"/>
    <xs:complexType name="transactionType">
        <xs:sequence>
            <xs:element type="xs:long" name="card_number"/>
            <xs:element type="xs:int" name="transaction_time"/>
            <xs:element type="xs:string" name="amount"/>
            <xs:element type="xs:string" name="currency"/>
            <xs:element type="xs:string" name="reference"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
</xs:schema>